<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Séries
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-searchbar placeholder="Buscar Série"></ion-searchbar>
  <ion-list>
    <ion-item lines="full">
      <ion-thumbnail slot="start">
        <img src="https://www.themoviedb.org/t/p/w220_and_h330_face/mQ9cyw1gfpK1M3a69cgXFHvWkih.jpg">
      </ion-thumbnail>
      <ion-label class="ion-text-wrap">
        <div>
          <h1>Game of Thrones (2011)</h1>
          <p>Idade: 16 anos</p>
          <p>Fantasy, Drama, Adventure</p>
          <p>Duração 1h</p>
        </div>        
      </ion-label>
      <ion-chip color="success" outline>
        <ion-label>84%</ion-label>
      </ion-chip>
    </ion-item>

  </ion-list>
</ion-content>
