h1 {
  font-weight: bold;
  font-size: 0.8rem;
  color: 0000ff;
}
p {
  font-size: 0.7rem;
  color: 0000ff;
}
ion-badge {
  font-weight: 300;
  font-size: 0.6rem;
  margin-right: 3px;
}
ion-icon {
  font-size: 100px;
  color: #dcdcdc;
}
